.portlet-title
  .caption.font-dark
    i.icon-bag.font-dark
    span.caption-subject.sbold.uppercase
      | Товары

  .actions
    a.btn.btn-circle.green.btn-outline(ui-sref='^.productsEdit({id: "new"})')
      i.fa.fa-plus
      |  Создать

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-md-6.col-sm-12
      .col-md-6.col-sm-12
        .dataTables_filter.pull-right(ng-if='vm.totalCount !== 0')
          label
            | Поиск:
            input.form-control.input-sm.input-small.input-inline(
              type='search'
              placeholder=''
              ng-model='vm.query'
              ng-model-options='{ debounce: { "default": 300, "blur": 0 } }'
              autofocus)

    //- There is no results after filter
    .note.note-info.node_margin_10(
      ng-if='vm.count === 0')
      h4.block
        | Нет совпадений

    //- List of brands
    .table-scrollable(ng-if='vm.count > 0')
      table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline
        thead
          tr(role='row')
            th(style='width: 50px;')
              | sku
            th(style='width: auto')
              | Название
            th(style='width: 160px;')
              | Торговая марка
            th(style='width: 160px;')
              | Ссылка
            th(style='width: 120px;')
              | Действия
        tbody
          tr(ng-repeat='product in vm.list track by product._id')
            td(ng-bind='::product.sku')
            td(ng-bind-html='::product.name')
            td(ng-bind='::product.brand.name')
            td
              a(ng-href='http://larabar.ru/product/{{::product.url}}' target='_black'
                ng-bind='::product.url')
            td
              a.btn.btn-sm.btn-default.btn-circle.btn-editable(
              ui-sref='^.productsEdit({id: product._id})')
                i.fa.fa-pencil
                |  Править
