.portlet-title
  .caption.font-dark
    i.icon-tag.font-dark
    span.caption-subject.sbold.uppercase
      | Тэги

  .actions
    a.btn.btn-circle.green.btn-outline(ui-sref='^.tagsEdit({id: "new"})')
      i.fa.fa-plus
      |  Создать

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-md-6.col-sm-12
      .col-md-6.col-sm-12
        .dataTables_filter.pull-right(ng-if='vm.totalCount !== 0')
          label
            | Поиск:
            input.form-control.input-sm.input-small.input-inline(
              type='search'
              placeholder=''
              ng-model='vm.query'
              ng-model-options='{ debounce: { "default": 300, "blur": 0 } }'
              autofocus)

    //- There is no results after filter
    .note.note-info.node_margin_10(
      ng-if='vm.count === 0 && vm.totalCount !== 0')
      h4.block
        | Нет совпадений
      p
        button.btn.btn-circle.btn-default(
          type='button'
          ng-click='vm.clearFilters()')
          | Cбросить фильтр

    //- There is no trade marks at all
    .note.note-info.node_margin_10(
      ng-if='vm.totalCount === 0')
      p
        | Нет тэгов

    //- List of brands
    .table-scrollable(ng-if='vm.count !== 0')
      table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline
        thead
          tr(role='row')
            th(style='width: auto;')
              | Название
            th(style='width: 160px;')
              | Ссылка
            th(style='width: 120px;')
              | Действия
        tbody
          tr(ng-repeat='tag in vm.filtredList track by tag._id')
            td(ng-bind-html='::tag.name')
            td
              a(ng-href='http://larabar.ru/tags/{{::tag.url}}' target='_black'
                ng-bind='::tag.url')
            td
              a.btn.btn-sm.btn-default.btn-circle.btn-editable(
                ui-sref='^.tagsEdit({ id: tag._id })')
                i.fa.fa-pencil
                |  Править
