.modal-header
  h3.modal-title
    | Добавление товаров

.modal-body
  .row.add-product__header
    .col-xs-6
      form.form-group(name='searchForm' set-focus='')
        input.form-control(
          type='text' placeholder='Введите название товара чтобы добавить'
          ng-model='vm.query' ng-model-options='{ debounce: 500 }'
          autofocus)
    .col-xs-6
      h4
        | Новые выбранные товары

  .row.add-product__body
    .col-xs-6.add-product__col
      .product-item.product-item_cursor_pointer(
        ng-repeat='product in vm.list | filter:vm.isSelected()'
        ng-click='vm.add(product)')
        img.product-item__photo(
          ng-src='{{::"https://larabar.ru/img/products/"+product.img[0].src}}')
        .product-item__inner(ng-bind-html='::product.name')

    .col-xs-6.add-product__col(ui-sortable='' ng-model='vm.selected')
      .product-item.product-item_cursor_pointer(
        ng-repeat='product in vm.selected track by product._id'
        ng-click='vm.remove(product)')
        img.product-item__photo(
          ng-src='{{::"https://larabar.ru/img/products/"+product.img[0].src}}')
        .product-item__inner(ng-bind-html='::product.name')

.modal-footer
  button.btn.btn-circle.green.btn-outline(type='button' ng-click='vm.save()')
    | Сохранить
  button.btn.btn-circle.red.btn-outline(type='button' ng-click='vm.cancel()')
    | Отмена
