.modal_products {
  .modal-dialog {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 50%;

    margin: 0;

    transform: translate(-50%, 0) !important;
  }
  .modal-content {
    height: 100%;
    padding: 65px 0;
  }
  .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .modal-body {
    height: 100%;
  }
}
.add-product__header {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
}

.add-product__body {
  height: 100%;
  padding-top: 50px;
}
.add-product__col {
  overflow-y: scroll;

  height: 100%;
}
