//- Page title with controls
.portlet-title
  .caption.font-dark
    i.icon-chemistry.font-dark
    span.caption-subject.sbold.uppercase(ng-bind-html='vm.title')

  .actions
    a.btn.btn-circle.green.btn-outline(ng-click='vm.save()')
      i.fa.fa-save
      |  Сохранить
    span(ng-if='!vm.isNew')
      |  
      a.btn.btn-circle.blue.btn-outline(
      target='_blank' ng-href='http://larabar.ru/product/{{vm.item.url}}')
        i.fa.fa-mail-forward

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-xs-12
        form.form-horizontal(
          name='vm.form' novalidate
          ng-submit='vm.submit()'
          form-submit='')
          uib-tabset.tabbable-line

            include ./_partials/commonTab
            include ./_partials/metaTab
            include ./_partials/packsTab
            include ./_partials/descriptionsTab
            include ./_partials/iconsTab
            include ./_partials/productsTab
