uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- url
        //- ----
        .form-group
          label.col-md-2.control-label
            | Url поста:
          .col-md-8(ng-class='{"has-error": (commonForm.url.$invalid && (commonForm.url.$touched || vm.form.$submitted))}')
            input.form-control(
              type='text'
              required
              pattern='^(https:\/\/larabar\.ru)?\/blog\/[0-9]{4}\/[0-9]{2}\/[0-9]{2}\/.{1,}$'
              ng-model='vm.item.url'
              name='url'
              ng-readonly='!vm.isNew')
            div(ng-if='commonForm.url.$touched || vm.form.$submitted' ng-messages='commonForm.url.$error')
              .help-block.small(ng-message='required')
                | Введите url
              .help-block.small(ng-message='pattern')
                | Введите корректный url

        //- -------------
        //- Original name
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Заголовок:
          .col-md-8(
            ng-class='{"has-error": (commonForm.title.$invalid && (commonForm.title.$touched || vm.form.$submitted))}')
            input.form-control(type='text' ng-model='vm.item.title' name='title' required)
            div(ng-if='commonForm.title.$touched || vm.form.$submitted' ng-messages='commonForm.title.$error')
              .help-block.small(ng-message='required')
                | Введите заголовок

        //- ----------------
        //- Full description
        //- ----------------
        .form-group
          label.col-md-2.control-label
            | Описание:
          .col-md-8
            div(text-angular
              ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
              ng-model='vm.item.text' name='text')

