uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- Name
        //- ----
        .form-group
          label.col-md-2.control-label
            | Название подборки:
          .col-md-8(ng-class='{"has-error": (commonForm.name.$invalid && (commonForm.name.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.name' name='name')
            div(ng-if='commonForm.name.$touched || vm.form.$submitted' ng-messages='commonForm.name.$error')
              .help-block.small(ng-message='required')
                | Введите название

        //- -------------
        //- Original name
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Заголовок на странице (h1):
          .col-md-8(
            ng-class='{"has-error": (commonForm.title.$invalid && (commonForm.title.$touched || vm.form.$submitted))}')
            input.form-control(type='text' ng-model='vm.item.title' name='title' required)
            div(ng-if='commonForm.title.$touched || vm.form.$submitted' ng-messages='commonForm.title.$error')
              .help-block.small(ng-message='required')
                | Введите заголовок

        //- ----------------
        //- Full description
        //- ----------------
        .form-group
          label.col-md-2.control-label
            | Описание:
          .col-md-8
            div(text-angular
              ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
              ng-model='vm.item.text' name='text')

