uib-tab(heading='Товары')
  .tab-content
    div 
      .tab-pane
        .row
          .col-md-8.col-md-offset-2(
            ui-sortable='vm.sortableOptions'
            ng-model='vm.item.products')
            .product-item(
              ng-repeat='product in vm.item.products track by product._id')
              img.product-item__photo(
                ng-src='{{::"https://larabar.ru/img/products/"+product.img[0].src}}')
              .product-item__inner
                a(
                  ng-bind-html='::product.name'
                  ng-href='{{ "https://larabar.ru/product/" + product.url }}'
                  target='_blank')
              button.product-item__close(
                type='button'
                ng-click='vm.removeProduct(product)')
                | &times;

            button.btn.btn-circle.green.btn-outline(ng-click='vm.addProducts()')
              i.fa.fa-plus
              |  Добавить товары
