uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- h1
        //- ----
        .form-group
          label.col-md-2.control-label
            | Заголовок:
          .col-md-8(ng-class='{"has-error": (commonForm.h1.$invalid && (commonForm.h1.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.h1' name='h1')
            div(ng-if='commonForm.h1.$touched || vm.form.$submitted' ng-messages='commonForm.h1.$error')
              .help-block.small(ng-message='required')
                | Введите заголовок

        //- -----------------
        //- Text
        //- -----------------
        .form-group
          label.col-md-2.control-label
            | Описание:
          .col-md-8(ng-class='{"has-error": (commonForm.text.$invalid && (commonForm.text.$touched || vm.form.$submitted))}')
            div(type='text' text-angular ng-model='vm.item.text' name='text'
              ta-toolbar="[['h2', 'h3', 'h4'],['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount']]"
              ta-unsafe-sanitizer='true' required)
            div(ng-if='commonForm.text.$touched || vm.form.$submitted' ng-messages='commonForm.text.$error')
              .help-block.small(ng-message='required')
                | Добавьте описание

