.portlet-title
  .caption.font-dark
    i.icon-menu.font-dark
    span.caption-subject.sbold.uppercase
      | Меню

  .actions
    button.btn.btn-circle.green.btn-outline(ng-click='vm.save()')
      i.fa.fa-save
      |  Сохранить

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-xs-4
        .portlet.light.bordered
          .portlet-title
            .caption
              | Меню
          .portlet-body
            ul.menu-item-container(ui-sortable='vm.sortableOptions' ng-model='vm.menu')
              li.menu-item(
                ng-repeat='item in vm.menu'
                ng-click='vm.setActiveItem(item)'
                ng-class='{ "menu-item_state_active": vm.isActiveItem(item)}')
                .menu-item__title
                  a(ui-sref='home.catalog.category({ id: item._id })')
                    | {{ ::item.name }}
                .menu-item__actions
                  a.menu-item__action-item(
                    ui-sref='home.catalog.category({ id: item._id })')
                    i.icon-wrench
            button.btn.btn-circle.green.btn-outline(ng-click='vm.newCategory()')
              i.fa.fa-plus
              |  Новая категория

      .col-xs-4(ng-if='vm.activeItem')
        .portlet.light.bordered
          .portlet-title
            .caption
              | Группы
          .portlet-body
            ul.menu-item-container(ui-sortable='vm.sortableOptions' ng-model='vm.activeItem.groups')
              li.menu-item(
                ng-repeat='group in vm.activeItem.groups'
                ng-click='vm.setActiveGroup(group)'
                ng-class='{ "menu-item_state_active": vm.isActiveGroup(group)}')
                .menu-item__title
                  a(ui-sref='home.catalog.group({ groupId: group._id , categoryId: vm.activeItem._id })')
                    | {{ ::group.name }}
                .menu-item__actions
                  a.menu-item__action-item(
                    ui-sref='home.catalog.group({ groupId: group._id , categoryId: vm.activeItem._id })')
                    i.icon-wrench

            button.btn.btn-circle.green.btn-outline(
              ng-if='vm.menu.length'
              ng-click='vm.newGroup(vm.activeItem)')
              i.fa.fa-plus
              |  Новая группа

      .col-xs-4(ng-if='vm.activeGroup')
        .portlet.light.bordered
          .portlet-title
            .caption
              | Категории
          .portlet-body
            ul.menu-item-container(ui-sortable='vm.sortableOptions' ng-model='vm.activeGroup.categories')
              li.menu-item.menu-item_state_inactive(
                ng-repeat='item in vm.activeGroup.categories')
                .menu-item__title
                  a(ui-sref='home.catalog.catalog({ groupId: vm.activeGroup._id , categoryId: vm.activeItem._id, id: item.categoryId })')
                    | {{ ::item.name }}
                .menu-item__actions
                  a.menu-item__action-item(ui-sref='home.catalog.catalog({ groupId: vm.activeGroup._id , categoryId: vm.activeItem._id, id: item.categoryId })')
                    i.icon-wrench

            button.btn.btn-circle.green.btn-outline(ng-click='vm.newCategory(vm.activeItem, vm.activeGroup)')
              i.fa.fa-plus
              |  Новая категория
