uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- Name
        //- ----
        .form-group
          label.col-md-2.control-label
            | Название:
          .col-md-8(ng-class='{"has-error": (commonForm.name.$invalid && (commonForm.name.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.name' name='name')
            div(ng-if='commonForm.name.$touched || vm.form.$submitted' ng-messages='commonForm.name.$error')
              .help-block.small(ng-message='required')
                | Введите название товара

        //- -------------
        //- Original name
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Оригинальное название:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.original_name' name='originalName')

        //- -----------------
        //- Short description
        //- -----------------
        .form-group
          label.col-md-2.control-label
            | Краткое описание:
          .col-md-8(ng-class='{"has-error": (commonForm.shortDescription.$invalid && (commonForm.shortDescription.$touched || vm.form.$submitted))}')
            div(
              text-angular
              ng-model='vm.item.texts.short'
              name='shortDescription'
              ta-toolbar="[['bold','italics'],['undo','redo'],['html'],['wordcount','charcount']]"
              required
              ta-show-html='true')
            div(ng-if='commonForm.shortDescription.$touched || vm.form.$submitted' ng-messages='commonForm.shortDescription.$error')
              .help-block.small(ng-message='required')
                | Добавьте краткое описание товара

        //- ----------------
        //- Full description
        //- ----------------
        .form-group
          label.col-md-2.control-label
            | Полное описание:
          .col-md-8(ng-class='{"has-error": (commonForm.fullDescription.$invalid && (commonForm.fullDescription.$touched || vm.form.$submitted))}')
            div(
              text-angular
              ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
              ng-model='vm.item.texts.full'
              name='fullDescription'
              required
              ta-show-html='true')
            div(ng-if='commonForm.fullDescription.$touched || vm.form.$submitted' ng-messages='commonForm.fullDescription.$error')
              .help-block.small(ng-message='required')
                | Добавьте полное описание товара

        //- Results field
        .form-group
          label.col-md-2.control-label
            | Результат применения:
          .col-md-8
            div(
              text-angular
              ng-model='vm.item.texts.result'
              name='result'
              ta-toolbar="[['bold','italics'],['undo','redo'],['html'],['wordcount','charcount']]"
              ta-show-html='true')

        //- Beauty tips fields
        .form-group
          label.col-md-2.control-label
            | Tips:
          .col-md-8
            div(text-angular
              ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
              ng-model='vm.item.texts.tips'
              name='tips'
              ta-show-html='true')

