uib-tab(heading='Иконки')
  .tab-content
    ng-form.form-body(name='iconsFrom')
      .tab-pane

        .row
          .col-md-8.col-md-offset-2
            .checkbox
              label
                input(type='checkbox' ng-model='vm.item.approved')
                | Одобренный товар

        .row
          .col-md-8.col-md-offset-2
            .checkbox
              label
                input(type='checkbox' ng-model='vm.item.minion')
                | Любимец

        .row
          .col-md-8.col-md-offset-2
            .checkbox
              label
                input(type='checkbox' ng-model='vm.item.prof')
                | Проф

        //- Separator
        .row
          .col-md-8.col-md-offset-2
            hr.hr_margin-top_5

        //- Infographics

        //- Skin type
        .form-group
          label.col-md-2.control-label
            | Тип кожи:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.icons.skin' name='skin')

        //- Care type
        .form-group
          label.col-md-2.control-label
            | Тип ухода:
          .col-md-8
            ui-select(ng-model='vm.item.icons.care' name='care')
              ui-select-match(placeholder='Выберите тип ухода')
                span(ng-bind='$select.selected')
              ui-select-choices(
                refresh='vm.refreshSelectItem($select, vm.careIcon)'
                refresh-delay='0'
                repeat='item in vm.careIcon')
                span(ng-bind-html='item')

        //- Extra icons


        //- Separator
        .row
          .col-md-8.col-md-offset-2
            hr.hr_margin-top_5

        //- Best before
        .form-group
          label.col-md-2.control-label
            | Срок годности в&nbsp;закрытом виде:
          .col-md-8
            input.form-control(
              type='text' ng-model='vm.item.extraIcons.bestBefore' name='bestBefore')

        //- After open
        .form-group
          label.col-md-2.control-label
            | Срок годности в&nbsp;открытом виде:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.extraIcons.afterOpen' name='afterOpen')

        //- Expence
        .form-group
          label.col-md-2.control-label
            | Расход:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.extraIcons.expense' name='expense')

        //- Description icons

        //- Separator
        .row
          .col-md-8.col-md-offset-2
            hr.hr_margin-top_5

        //- Consistence
        .form-group
          label.col-md-2.control-label
            | Консистенция:
          .col-md-8
            input.form-control(
              type='text' ng-model='vm.item.descriptionIcons.consistence' name='consistence')

        //- Texture
        .form-group
          label.col-md-2.control-label
            | Текстура:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.descriptionIcons.texture' name='texture')

        //- Receptivity
        .form-group
          label.col-md-2.control-label
            | Впитываемость:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.descriptionIcons.receptivity' name='receptivity')

        //- Smell
        .form-group
          label.col-md-2.control-label
            | Запах:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.descriptionIcons.smell' name='smell')

        //- Special
        .form-group
          label.col-md-2.control-label
            | Процент, pH и др.:
          .col-md-8
            input.form-control(type='text' ng-model='vm.item.descriptionIcons.special' name='special')

