uib-tab(heading='Meta')
  .tab-content
    ng-form.form-body(name='meta')
      .tab-pane

        //- Url
        .form-group
          label.col-md-2.control-label
            | Url:
          .col-md-8(ng-class='{"has-error": (vm.form.meta.url.$invalid && (vm.form.meta.url.$touched || vm.form.$submitted))}')
            input.form-control(
              type='text' required pattern='^[a-zA-Z0-9-_]{3,}$' ng-model='vm.item.url' name='url'
              ng-readonly='!vm.isNew' unique-product='vm.isNew'
              ng-model-options='{ debounce: { "default": 1000, "blur": 0 }  }'
              autocomplete='off')
            div(
              ng-if='vm.form.meta.url.$touched || vm.form.$submitted'
              ng-messages='vm.form.meta.url.$error')
              .help-block.small(ng-message='required')
                | Введите URL
              .help-block.small(ng-message='pattern')
                | Введите корректный URL
              .help-block.small(ng-message='uniqueProduct')
                | Указанный url уже существует


        //- Title
        .form-group
          label.col-md-2.control-label
            | Title:
          .col-md-8
            input.form-control(
              type='text' ng-model='vm.item.meta.title' name='title')

        //- Description
        .form-group
          label.col-md-2.control-label
            | Description:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.description' name='description')

        //- Keywords
        .form-group
          label.col-md-2.control-label
            | Keywords:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.keywords' name='keywords')
