uib-tab(heading='Фасовки')
  .tab-content
    ng-form.form-body(name='packsForm')
      .tab-pane

        div(ng-if='vm.isNew')
          //- ------
          //- Brands
          //- ------
          .form-group
            label.col-md-2.control-label
              | Торговая марка:
            .col-md-8(ng-class='{"has-error": (packsForm.brand.$invalid && (packsForm.brand.$touched || vm.form.$submitted))}')
              ui-select(ng-model='vm.item.brand' name='brand' required)
                ui-select-match(placeholder='Выберите торговую марку')
                  span(ng-bind='$select.selected.name')
                ui-select-choices(repeat='item in vm.brands | filter:$select.search track by item._id')
                  span(ng-bind-html='item.name')
              div(ng-if='packsForm.brand.$touched || vm.form.$submitted' ng-messages='packsForm.brand.$error')
                .help-block.small(ng-message='required')
                  | Выберите торговую марку

          //- ---------------
          //- Products groups
          //- ---------------
          .form-group
            label.col-md-2.control-label
              | Группа товаров:
            .col-md-8(ng-class='{"has-error": (packsForm.productsGroup.$invalid && (packsForm.productsGroup.$touched || vm.form.$submitted))}')
              ui-select(ng-model='vm.item.productsGroup' name='productsGroup' required)
                ui-select-match(placeholder='Выберите группу товаров')
                  span(ng-bind='$select.selected.name')
                ui-select-choices(repeat='item in vm.productsGroups | filter:$select.search track by item._id')
                  span(ng-bind-html='item.name')
              div(ng-if='packsForm.productsGroup.$touched || vm.form.$submitted' ng-messages='packsForm.productsGroup.$error')
                .help-block.small(ng-message='required')
                  | Выберите группу товаров

          //- Separator
          .row
            .col-md-8.col-md-offset-2
              hr.hr_margin-top_5


        div(ng-repeat='pack in vm.item.packs track by $index')
          ng-form(name='packForm')

            //- SKU
            .form-group(ng-if='pack._id')
              label.col-md-2.control-label
                | Sku:
              .col-md-8
                input.form-control(type='text' ng-model='pack.sku' name='sku' ng-readonly='true')

            //- Supplier sku
            .form-group
              label.col-md-2.control-label
                | Sku поставщика:
              .col-md-8
                input.form-control(type='text' ng-model='pack.supplierSku' name='supplierSku') 

              //- Controlls
              .col-md-2(ng-if='pack.new')
                button.btn.btn-circle.red.btn-outline.btn-sm(ng-click='vm.removePack(pack)')
                  i.fa.fa-trash-o
                  |  Удалить

            //- Supplier name
            .form-group
              label.col-md-2.control-label
                | Название поставщика:
              .col-md-8
                input.form-control(type='text' ng-model='pack.supplierName' name='supplierName') 

            //- Size
            .form-group
              label.col-md-2.control-label
                | Фасовка:
              .col-md-8(ng-class='{"has-error": (packForm.packSize.$invalid && (packForm.packSize.$touched || vm.form.$submitted))}')
                input.form-control(type='text' ng-model='pack.size' name='packSize' required)
                div(ng-if='packForm.packSize.$touched || vm.form.$submitted' ng-messages='packForm.packSize.$error')
                  .help-block.small(ng-message='required')
                    | Введите фасовку

            //- Expences
            .form-group
              label.col-md-2.control-label
                | Расход:
              .col-md-8
                input.form-control(type='text' ng-model='pack.expense' name='size')

            //- Price
            .form-group
              label.col-md-2.control-label
                | Цена:
              .col-md-8(ng-class='{"has-error": (packForm.price.$invalid && (packForm.price.$touched || vm.form.$submitted))}')
                input.form-control(type='text' ng-model='pack.price' name='price' required pattern='^[0-9]+$')
                div(ng-if='packForm.price.$touched || vm.form.$submitted' ng-messages='packForm.price.$error')
                  .help-block.small(ng-message='required')
                    | Введите цену
                  .help-block.small(ng-message='pattern')
                    | Введите корректную цену

            //- Special price
            .form-group
              label.col-md-2.control-label
                | Спец. цена:
              .col-md-8(ng-class='{"has-error": (packForm.specialPrice.$invalid && (packForm.specialPrice.$touched || vm.form.$submitted))}')
                input.form-control(type='text' ng-model='pack.specialPrice' name='specialPrice' pattern='^[0-9]*$')
                div(ng-if='packForm.specialPrice.$touched || vm.form.$submitted' ng-messages='packForm.specialPrice.$error')
                  .help-block.small(ng-message='pattern')
                    | Введите корректную цену

            //- Supplier price
            .form-group
              label.col-md-2.control-label
                | Цена закупки:
              .col-md-8(
                ng-class='{"has-error": (packForm.supplierPrice.$invalid && (packForm.supplierPrice.$touched || vm.form.$submitted))}')
                input.form-control(
                  type='text'
                  ng-model='pack.supplierPrice'
                  pattern='^[0-9]*$' required
                  name='supplierPrice') 
                div(ng-if='packForm.supplierPrice.$touched || vm.form.$submitted' ng-messages='packForm.supplierPrice.$error')
                  .help-block.small(ng-message='required')
                    | Введите цену
                  .help-block.small(ng-message='pattern')
                    | Введите корректную цену

            //- Separator
            .row
              .col-md-8.col-md-offset-2
                hr.hr_margin-top_5

        .row(ng-if='vm.item.packs.length < vm.PACKS_LIMIT')
          .col-md-8.col-md-offset-2
            button.btn.btn-circle.green.btn-outline(ng-click='vm.addPack()')
              i.fa.fa-plus
              |  Добавить фасовку
