uib-tab(heading='Товары')
  .tab-content
    div 
      .tab-pane
        ng-form(ng-repeat='group in vm.item.groups' name='groupForm')
          .form-group
            label.col-md-2.control-label
              | Название:
            .col-md-8(ng-class='{"has-error": (groupForm.title.$invalid && (groupForm.title.$touched || vm.form.$submitted))}')
              ui-select(ng-model='group.title' name='title' required)
                ui-select-match(placeholder='Введите название группы')
                  span(ng-bind='$select.selected')
                ui-select-choices(
                  refresh='vm.refreshSelectItem($select, vm.relevantProducts)'
                  refresh-delay='0'
                  repeat='item in vm.relevantProducts')
                  span(ng-bind-html='item')
              div(
                ng-if='groupForm.title.$touched || vm.form.$submitted'
                ng-messages='groupForm.title.$error')
                .help-block.small(ng-message='required')
                  | Введите название группы
            .col-md-2
              .controls
                .form-group
                  button.btn.btn-circle.red.btn-outline.btn-sm(
                    ng-click='vm.removeGroup(group)' tabindex='-1')
                    i.fa.fa-trash-o
                    |  Удалить группу
                .form-group(ng-if='!$first')
                  button.btn.btn-circle.blue.btn-outline.btn-sm(
                    ng-click='vm.moveUp(vm.item.groups, $index)')
                    i.fa.fa-arrow-up
                    |  Выше
                .form-group(ng-if='!$last')
                  button.btn.btn-circle.blue.btn-outline.btn-sm(
                    ng-click='vm.moveDown(vm.item.groups, $index)')
                    i.fa.fa-arrow-down
                    |  Ниже

          .form-group
            label.col-md-2.control-label
              | Описание:
            .col-md-8(ng-class='{"has-error": (groupForm["description"+$index].$invalid && (groupForm["description"+$index].$touched || vm.form.$submitted))}')
              div(
                text-angular
                ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
                ng-model='group.description'
                name='description{{$index}}'
                ta-show-html='true')

          .row
            label.col-md-2.control-label
              | Товары:
            .col-md-8(ui-sortable='vm.sortableOptions' ng-model='group.products')
              .product-item(
                ng-repeat='product in group.products track by product._id')
                img.product-item__photo(
                  ng-src='{{::"https://larabar.ru/img/products/"+product.img[0].src}}')
                .product-item__inner
                  a(
                    ng-bind-html='::product.name'
                    ng-href='{{ "https://larabar.ru/product/" + product.url }}'
                    target='_blank')
                button.product-item__close(
                  type='button'
                  ng-click='vm.removeProduct(group, product)')
                  | &times;

              button.btn.btn-circle.green.btn-outline(ng-click='vm.addProducts(group)')
                i.fa.fa-plus
                |  Добавить товары


          //- Separator
          .row
            .col-md-8.col-md-offset-2
              hr


        //- Add new one group
        .row
          .col-md-10.col-md-offset-2
            button.btn.btn-circle.green.btn-outline(ng-click='vm.addGroup()')
              i.fa.fa-plus
              |  Добавить группу
