.portlet-title
  .caption.font-dark
    i.icon-wallet.font-dark
    span.caption-subject.sbold.uppercase
      | Обновление цен

  .actions
    button.btn.btn-circle.green.btn-outline(
      ng-click='vm.update()'
      ng-disabled='vm.inProcess')
      i.fa.fa-refresh(ng-class='{ "fa-spin": vm.inProcess }')
      span(ng-if='!vm.inProcess')
        |  Обновить
      span(ng-if='vm.inProcess')
        |  Обновляется

.portlet-body
  .dataTables_wrapper.no-footer
    //- List of brands
    .table-scrollable(ng-if='vm.items')
      table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline
        thead
          tr(role='row')
            th(style='width: 16%;')
              | SKU
            th(style='width: 16%;')
              | SKU поставщика
            th(style='width: 16%;')
              | Цена поставщика
            th(style='width: 16%;')
              | Цена
            th(style='width: 16%;')
              | Спец. цена
            th(style='width: auto;')
              | Статус
        tbody
          tr(
            ng-repeat='item in vm.items track by $index'
            ng-class='{ "danger": item.status !== "ok" }')
            td
              | {{ ::item.sku }}
            td
              | {{ ::item.supplierSku }}
            td
              span(ng-if='item.status === "ok"')
                span(ng-if='item.oldSupplierPrice == item.supplierPrice')
                  | {{ item.supplierPrice }}&nbsp;руб.
                span(ng-if='item.oldSupplierPrice != item.supplierPrice')
                  | {{ item.oldSupplierPrice }} &rarr; {{ item.supplierPrice }}&nbsp;руб.
            td
              span(ng-if='item.status === "ok"')
                span(ng-if='item.oldPrice == item.price')
                  | {{ item.price }}&nbsp;руб.
                span(ng-if='item.oldPrice != item.price')
                  | {{ item.oldPrice }} &rarr; {{ item.price }}&nbsp;руб.
            td
              span(ng-if='item.status === "ok"')
                span(ng-if='item.oldSpecialPrice && !item.specialPrice')
                  | убрана скидка
                span(ng-if='item.specialPrice && (item.oldSpecialPrice == item.specialPrice)')
                  | {{ item.oldSpecialPrice }}&nbsp;руб.
                span(ng-if='item.specialPrice && item.oldSpecialPrice && (item.oldSpecialPrice != item.specialPrice)')
                  | {{ item.oldSpecialPrice }} &rarr; {{ item.specialPrice }}&nbsp;руб.

            td
              | {{ item.status }}
  
