uib-tab(heading='Категории')
  .tab-content.tab-content_padding-top_10
    div 
      .tab-pane
        ng-form(name='categoriesForm')
          //- Title
          .form-group
            label.col-xs-12.text_align_left.control-label
              | Заголовок:
            .col-xs-12(
              ng-class='{"has-error": (categoriesForm.title.$invalid && (categoriesForm.title.$touched || vm.form.$submitted))}'
              )
              input.form-control(type='text' ng-model='vm.item.categories.title' name='title' required)
              div(
                ng-if='categoriesForm.title.$touched || vm.form.$submitted'
                ng-messages='categoriesForm.title.$error'
                )
                .help-block.small(ng-message='required')
                  | Введите заголовок блока

          //- List of child categories
          .row
            .col-xs-12
              ul.menu-item-container(ui-sortable ng-model='vm.item.categories.list')
                li.menu-item(ng-repeat='category in vm.item.categories.list track by category._id')
                  .menu-item__title

                    .checkbox.menu-item__checkbox
                      label
                        input(
                          type='checkbox'
                          ng-model='category.checked'
                          ui-indeterminate='category.indeterminate'
                          ng-click='vm.toggleCategory(category)')
                        | {{ ::category.name }}

                  .menu-item__actions
                    a.menu-item__action-item(
                      ui-sref='.category({ childCategoryId: category._id })')
                      i.icon-wrench

                  //- Subitem
                  //- ul
                    li(ng-repeat='subcategory in category.list track by subcategory._id')
                      p
                        | {{ ::subcategory.title }}
          
          //- New category button
          .row(ng-if='!vm.isNew')
            .col-xs-12
              a.btn.btn-circle.green.btn-outline(ng-click='vm.addCategory(vm.item._id)')
                i.fa.fa-plus
                |  Новая категория


