uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- Name
        //- ----
        .form-group
          label.col-md-2.control-label
            | Название
            br
            | в меню/крошках:
          .col-md-8(ng-class='{"has-error": (commonForm.name.$invalid && (commonForm.name.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.name' name='name')
            div(ng-if='commonForm.name.$touched || vm.form.$submitted' ng-messages='commonForm.name.$error')
              .help-block.small(ng-message='required')
                | Введите название категории

        //- -------------
        //- Original name
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Заголовок на странице (h1):
          .col-md-8(ng-class='{"has-error": (commonForm.h1.$invalid && (commonForm.h1.$touched || vm.form.$submitted))}')
            input.form-control(type='text' ng-model='vm.item.h1' required name='h1')
            div(ng-if='commonForm.h1.$touched || vm.form.$submitted' ng-messages='commonForm.h1.$error')
              .help-block.small(ng-message='required')
                | Введите загаловок категории

        //- -----------------
        //- Short description
        //- -----------------
        .form-group
          label.col-md-2.control-label
            | Краткое описание:
          .col-md-8
            div(type='text' text-angular ng-model='vm.item.shortDescription' name='shortDescription' ta-toolbar="[['bold','italics'],['undo','redo'],['html'],['wordcount','charcount']]")

