uib-tab(heading='Фильтры')
  .tab-content
    div 
      .tab-pane
        ng-form(name='filtersForm')
          //- Title
          .form-group
            label.col-xs-12.text_align_left.control-label
              | Заголовок:
            .col-xs-12(
              ng-class='{"has-error": (filtersForm.title.$invalid && (filtersForm.title.$touched || vm.form.$submitted))}'
              )
              input.form-control(type='text' ng-model='vm.item.filters.title' name='title' required)
              div(
                ng-if='filtersForm.title.$touched || vm.form.$submitted'
                ng-messages='filtersForm.title.$error'
                )
                .help-block.small(ng-message='required')
                  | Введите заголовок блока

          //- List of filters
          .row
            .col-xs-12
              ul.menu-item-container
                li.menu-item.menu-item_state_nosortable(ng-repeat='filter in vm.item.filters.list track by filter._id')
                  .menu-item__title
                    | {{ filter.title }}
                    
                  .menu-item__actions
                    a.menu-item__action-item(
                      ui-sref='.filters({ filterId: filter._id })')
                      i.icon-wrench

                  .menu-item__body
                    ul.menu-item-container(ui-sortable ng-model='filter.items')
                      li.menu-item(ng-repeat='item in filter.items track by item._id')
                        .menu-item__title
                          .checkbox.menu-item__checkbox
                            label
                              input(
                                type='checkbox'
                                ng-model='item.checked'
                                ui-indeterminate='item.indeterminate'
                                ng-click='vm.toggleFilter(item)')
                              | {{ item.name }}


          //- New filter button
          .row(ng-if='!vm.isNew')
            .col-xs-12
              button.btn.btn-circle.green.btn-outline(ng-click='vm.addFilter()')
                i.fa.fa-plus
                |  Новый фильтр
