uib-tab(heading='Товары' select='vm.fixSticky()')
  .tab-content
    div 
      .tab-pane

        //- Left column
        .t
          .tc1

            //- Products filter input
            .form-group(ng-if='vm.item.products.length > 4')
              .col-md-12
                input.form-control(
                  type='text'
                  placeholder='Фильтр по товарам'
                  ng-model='vm.productFilterQuery')

            .row
              //- List of products
              .col-md-12(ui-sortable='vm.sortableOptions' ng-model='vm.item.products')

                .product-item(
                  ng-repeat='product in vm.item.products | filter:{ name: vm.productFilterQuery } as filtred track by product._id'
                  ng-class="{'product-item_active': vm.isActiveProduct(product)}"
                  ng-click='vm.setActiveProduct(product, $event)')
                  img.product-item__photo(
                    ng-src='{{::"https://larabar.ru/img/products/"+product.img[0].src}}')
                  .product-item__inner
                    a(
                      ng-bind-html='::product.name'
                      ng-href='{{ "https://larabar.ru/product/" + product.url }}'
                      target='_blank')
                  button.product-item__close(
                    type='button'
                    ng-click='vm.removeProduct(product)')
                    | &times;
                    
                //- There is no results after filter
                .note.note-info(
                  ng-if='filtred.length === 0 && vm.productFilterQuery')
                  h4.block
                    | Нет совпадений
                  p
                    button.btn.btn-circle.btn-default(
                      type='button'
                      ng-click='vm.clearFilters()')
                      | Cбросить фильтр


                button.btn.btn-circle.green.btn-outline(ng-click='vm.addProducts()')
                  i.fa.fa-plus
                  |  Добавить товары

          //- Right column
          .tc2
            div(sticky stick-limit='true')
              uib-tabset.tabbable-line.tabbable-line_padding-top_10
                include ./categoriesTab
                include ./filtersTab

