extends ../../../partials/layouts/page

block title
  i.icon-notebook.font-dark
  span.caption-subject.sbold.uppercase
    | Список постов

block controls
  a.btn.btn-circle.green.btn-outline(
    ui-sref='^.post({ id: "new" })')
    i.fa.fa-plus
    |  Добавить пост

block content
  .row
    .col-md-6.col-md-offset-6.col-sm-12
      .dataTables_filter.pull-right(ng-if='vm.totalCount !== 0')
        label
          | Поиск:
          input.form-control.input-sm.input-small.input-inline(
            type='search'
            placeholder=''
            ng-model='vm.query'
            ng-model-options='{ debounce: { "default": 300, "blur": 0 } }'
            autofocus)

  //- There is no results after filter
  .note.note-info.node_margin_10(
    ng-if='vm.count === 0 && vm.totalCount !== 0')
    h4.block
      | Нет совпадений
    p
      button.btn.btn-circle.btn-default(
        type='button'
        ng-click='vm.clearFilters()')
        | Cбросить фильтр

  //- There is no pages at all
  .note.note-info.node_margin_10(
    ng-if='vm.totalCount === 0')
    p
      | Нет постов

  //- List of brands
  .table-scrollable(ng-if='vm.count !== 0')
    table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline
      thead
        tr(role='row')
          th(style='width: auto;')
            | Название
          th(style='width: 120px;')
            | Действия
      tbody
        tr(ng-repeat='post in vm.filtredList track by post._id')
          td
            a(
              ng-href='{{::post.url}}'
              target='_black'
              ng-bind='::post.name')
          td
            a.btn.btn-sm.btn-default.btn-circle.btn-editable(
              ui-sref='^.post({ id: post._id })')
              i.fa.fa-pencil
              |  Править


