uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ------------------------
        //- Name
        //- ------------------------
        .form-group
          label.col-md-2.control-label
            | Название:
          .col-md-8(ng-class='{"has-error": (commonForm.name.$invalid && (commonForm.name.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.name' name='name')
            div(ng-if='commonForm.name.$touched || vm.form.$submitted' ng-messages='commonForm.name.$error')
              .help-block.small(ng-message='required')
                | Введите название группы

