uib-tab(heading='Консультация')
  .tab-content
    ng-form.form-body(name='callbackForm')
      .tab-pane

        //- -------------
        //- Title
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Заголовок:
          .col-md-8(ng-class='{"has-error": (callbackForm.title.$invalid && (callbackForm.title.$touched || vm.form.$submitted))}')
            input.form-control(type='text' ng-model='vm.item.callback.title' required name='title')
            div(
              ng-if='callbackForm.title.$touched || vm.form.$submitted'
              ng-messages='callbackForm.title.$error')
              .help-block.small(ng-message='required')
                | Введите заголовок 

        //- -------------
        //- Button text
        //- -------------
        .form-group
          label.col-md-2.control-label
            | Текст кнопки:
          .col-md-8(ng-class='{"has-error": (callbackForm.button.$invalid && (callbackForm.button.$touched || vm.form.$submitted))}')
            input.form-control(type='text' ng-model='vm.item.callback.button' required name='button')
            div(
              ng-if='callbackForm.button.$touched || vm.form.$submitted'
              ng-messages='callbackForm.button.$error')
              .help-block.small(ng-message='required')
                | Введите текст кнопки

        .row
          .col-md-8.col-md-offset-2
            .checkbox
              label
                input(type='checkbox' ng-model='vm.item.callback.visible')
                | Показывать


