uib-tab(heading='Тексты')
  .tab-content
    ng-form.form-body(name='descriptions')
      .tab-pane

        div(ng-repeat='item in vm.item.descriptions')
          ng-form(name='extraDescriptionForm')

            //- Title
            .form-group
              label.col-md-2.control-label
                | Заголовок:
              .col-md-8(
                ng-class='{"has-error": (extraDescriptionForm.title.$invalid && (extraDescriptionForm.title.$touched || vm.form.$submitted))}'
                )
                input.form-control(type='text' ng-model='item.title' name='title' required)
                div(
                  ng-if='extraDescriptionForm.title.$touched || vm.form.$submitted'
                  ng-messages='extraDescriptionForm.title.$error'
                  )
                  .help-block.small(ng-message='required')
                    | Введите заголовок для описания

              //- Controlls
              .col-md-2
                button.btn.btn-circle.red.btn-outline.btn-sm(
                  ng-click='vm.removeDescription(item)'
                  tabindex=-1)
                  i.fa.fa-trash-o
                  |  Удалить


            //- Text
            .form-group
              label.col-md-2.control-label
                | Описание:
              .col-md-8(ng-class='{"has-error": (extraDescriptionForm["text"+$index].$invalid && (extraDescriptionForm["text"+$index].$touched || vm.form.$submitted))}')
                div(text-angular
                ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
                ng-model='item.text' name='text{{$index}}' required)
                div(
                  ng-if='extraDescriptionForm["text"+$index].$touched || vm.form.$submitted'
                  ng-messages='extraDescriptionForm["text"+$index].$error'
                  )
                  .help-block.small(ng-message='required')
                    | Введите текст описания


            //- Separator
            .row
              .col-md-8.col-md-offset-2
                hr.hr_margin-top_5

        //- Add new one extra description
        .row
          .col-md-10.col-md-offset-2
            button.btn.btn-circle.green.btn-outline(ng-click='vm.addDescription()')
              i.fa.fa-plus
              |  Добавить описание


