uib-tab(heading='Фильтры')
  .tab-content
    div 
      .tab-pane
        ng-form(name='filtersForm')
          //- Title
          .form-group
            label.col-xs-12.text_align_left.control-label
              | Заголовок:
            .col-xs-12(
              ng-class='{"has-error": (filtersForm.title.$invalid && (filtersForm.title.$touched || vm.form.$submitted))}'
              )
              input.form-control(type='text' ng-model='vm.item.filters.title' name='title' required)
              div(
                ng-if='filtersForm.title.$touched || vm.form.$submitted'
                ng-messages='filtersForm.title.$error'
                )
                .help-block.small(ng-message='required')
                  | Введите заголовок блока

          //- New filter button
          .row(ng-if='!vm.isNew')
            .col-xs-12
              button.btn.btn-circle.green.btn-outline(ng-click='vm.addCategory(vm.item._id)')
                i.fa.fa-plus
                |  Новая категорий
