uib-tab(heading='Meta')
  .tab-content
    ng-form.form-body(name='meta')
      .tab-pane

        //- Url
        .form-group
          label.col-md-2.control-label
            | Url:
          .col-md-8(ng-class='{"has-error": (vm.form.meta.url.$invalid && (vm.form.meta.url.$touched || vm.form.$submitted))}')
            input.form-control(
              type='text'
              ng-model='vm.item.url' name='url'
              ng-readonly='!vm.isNew'
              required pattern='^[a-z0-9-]{3,}$'
              unique-sub-category='{ validate: vm.isNew, sublings: vm.category.categories.list }'
              autocomplete='off')
            div(
              ng-if='vm.form.meta.url.$touched || vm.form.$submitted'
              ng-messages='vm.form.meta.url.$error')
              .help-block.small(ng-message='required')
                | Введите URL
              .help-block.small(ng-message='pattern')
                | Введите корректный URL
              .help-block.small(ng-message='uniqueSubCategory')
                | Указанный url уже существует


        //- Title
        .form-group
          label.col-md-2.control-label
            | Title:
          .col-md-8(ng-class='{"has-error": (meta.title.$invalid && (meta.title.$touched || vm.form.$submitted))}')
            input.form-control(
              type='text' ng-model='vm.item.meta.title' name='title' required)
            div(
              ng-if='meta.title.$touched || vm.form.$submitted'
              ng-messages='meta.title.$error')
              .help-block.small(ng-message='required')
                | Введите Title

        //- Description
        .form-group
          label.col-md-2.control-label
            | Description:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.description' name='description')

        //- Keywords
        .form-group
          label.col-md-2.control-label
            | Keywords:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.keywords' name='keywords')
