uib-tab(heading='Подкатегории')
  .tab-content
    ng-form.form-body(name='categoriesForm')
      .tab-pane

        .form-group
          label.col-md-2.control-label
            | Заголовок:

        .row
          .col-md-10.col-md-offset-2
            ul.menu-item-container(ui-sortable ng-model='vm.item.categories.list')
              li.menu-item(ng-repeat='category in vm.item.categories.list track by category._id')
                .menu-item__title

                  .checkbox.menu-item__checkbox
                    label
                      input(
                        type='checkbox'
                        ng-model='category.checked'
                        ng-click='vm.toggleCategory(category)')
                      | {{ ::category.name }}

        //- Add new category
        .row
          .col-md-10.col-md-offset-2
            button.btn.btn-circle.green.btn-outline(ng-click='vm.addSubcategory()')
              i.fa.fa-plus
              |  Новая подкатегория


