.portlet-title
  .caption.font-dark
    i.icon-menu.font-dark
    span.caption-subject.sbold.uppercase(ng-bind-html='vm.title')

  .actions
    a.btn.btn-circle.green.btn-outline(ng-click='vm.save()')
      i.fa.fa-save
      |  Сохранить

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-xs-12
        form.form-horizontal(
          name='vm.form' novalidate
          ng-submit='vm.submit()'
          form-submit='')
          uib-tabset.tabbable-line

            include ./_partials/commonTab
