//- Page title with controls
.portlet-title
  .caption.font-dark
    i.icon-chemistry.font-dark
    span.caption-subject.sbold.uppercase(ng-bind='vm.title')

  .actions
    a.btn.btn-circle.green.btn-outline(ng-click='vm.save()')
      i.fa.fa-save
      |  Сохранить

  div {{ item }}

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-xs-12
        form.form-horizontal(
          name='vm.form' novalidate
          ng-submit='vm.submit()'
          form-submit='')
          uib-tabset.tabbable-line
            
            //- 
            //- Common tab
            //- 
            uib-tab(heading='Общее')
              .tab-content
                ng-form.form-body(name='common')
                  .tab-pane

                    //- Name
                    .form-group
                      label.col-md-2.control-label
                        | Название:
                      .col-md-8(
                        ng-class='{"has-error": (vm.form.common.name.$invalid && (vm.form.common.name.$touched || vm.form.$submitted))}')
                        input.form-control(
                          type='text' required ng-model='vm.item.name' name='name')
                        div(
                          ng-if='vm.form.common.name.$touched || vm.form.$submitted'
                          ng-messages='vm.form.common.name.$error')
                          .help-block.small(ng-message='required')
                            | Введите название группы
