uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----------------
        //- Tage text
        //- ----------------
        .form-group
          label.col-md-2.control-label
            | Описание:
          .col-md-8
            div(
              text-angular
              ta-toolbar="[['h1', 'h2', 'h3'],['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]"
              ng-model='vm.item.text' name='text')

