uib-tab(heading='Meta')
  .tab-content
    ng-form.form-body(name='metaForm')
      .tab-pane

        //- Title
        .form-group
          label.col-md-2.control-label
            | Title:
          .col-md-8(
            ng-class='{"has-error": (metaForm.title.$invalid && (metaForm.title.$touched || vm.form.$submitted))}')
            input.form-control(
              type='text' ng-model='vm.item.meta.title' name='title' required)
            div(
              ng-if='metaForm.title.$touched || vm.form.$submitted'
              ng-messages='metaForm.title.$error')
              .help-block.small(ng-message='required')
                | Введите заголовок

        //- Description
        .form-group
          label.col-md-2.control-label
            | Description:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.description' name='description')

        //- Keywords
        .form-group
          label.col-md-2.control-label
            | Keywords:
          .col-md-8
            textarea.form-control(
              type='text'
              ng-model='vm.item.meta.keywords' name='keywords')
