uib-tab(heading='Тэги')
  .tab-content
    div 
      .tab-pane
        .row
          .col-md-8.col-md-offset-2
            ul.menu-item-container(
              ui-sortable='vm.sortableOptions'
              ng-model='vm.item.tags')
              li.menu-item(
                ng-repeat='tag in vm.item.tags track by tag._id')
                .menu-item__title
                  a(
                    ui-sref='home.catalog.tagsEdit({ id: tag._id })'
                    target='_blank')
                    | {{ ::tag.name }}
                .menu-item__actions
                  a.menu-item__action-item(
                    ng-click='vm.removeTag(tag)')
                    i.icon-close

            div(ng-class='{ "has-error": noResults }')
              input.form-control(
                type='text' placeholder='Введите название тэга чтобы добавить'
                ng-model='vm.newTag' ng-model-options='{ debounce: 500 }'
                uib-typeahead='item as item.name for item in vm.getTags($viewValue)'
                typeahead-no-results='noResults'
                typeahead-on-select='vm.addTag()'
                typeahead-min-length=3)
              .help-block.small(ng-if='noResults')
                | Не найдено тэгов
