//- Page title with controls
.portlet-title
  .caption.font-dark
    i.icon-chemistry.font-dark
    span.caption-subject.sbold.uppercase
      | Торговые марки

  .actions
    a.btn.btn-circle.green.btn-outline(ui-sref='^.brandsEdit({id: "new"})')
      i.fa.fa-plus
      |  Создать

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      //- NOTE hidded till implementation
      .col-md-6.col-sm-12
        //- #sample_1_length.dataTables_length
          label
            | Показать 
            select.form-control.input-sm.input-xsmall.input-inline(name='sample_1_length')
              option(value='5') 5
              option(value='10') 10
              option(value='15') 15
              option(value='20') 20
              option(value='-1') Все
            |  записей
      .col-md-6.col-sm-12
        .dataTables_filter.pull-right(ng-if='vm.totalCount !== 0')
          label
            | Поиск:
            input.form-control.input-sm.input-small.input-inline(
              type='search'
              placeholder=''
              ng-model='vm.query'
              ng-model-options='{ debounce: { "default": 300, "blur": 0 } }'
              autofocus)

    //- There is no results after filter
    .note.note-info.node_margin_10(
      ng-if='vm.count === 0 && vm.totalCount !== 0')
      h4.block
        | Нет совпадений
      p
        button.btn.btn-circle.btn-default(
          type='button'
          ng-click='vm.clearFilters()')
          | Cбросить фильтр

    //- There is no trade marks at all
    .note.note-info.node_margin_10(
      ng-if='vm.totalCount === 0')
      p
        | Нет торговых марок

    //- List of brands
    .table-scrollable(ng-if='vm.count !== 0')
      table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline(role='grid', aria-describedby='sample_1_info')
        thead
          tr(role='row')
            th(style='width: 50px;')
              | Код
            th(style='width: auto')
              | Название
            th(style='width: 160px;')
              | Страна
            th(style='width: 160px;')
              | Ссылка
            th(style='width: 120px;')
              | Действия
        tbody
          tr(
            role='row'
            ng-repeat='brand in vm.filtredList track by brand._id')
            td(ng-bind='::brand.sku')
            td(ng-bind='::brand.name')
            td(ng-bind='::brand.country')
            td(ng-bind='::brand.url')
            td
              a.btn.btn-sm.btn-default.btn-circle.btn-editable(
              ui-sref='^.brandsEdit({id:brand._id})')
                i.fa.fa-pencil
                |  Править

    //- footer
    //- NOTE hidded till implementation
    //- .row
      .col-md-5.col-sm-12
        //- Info
        .dataTables_info
          | Показывать с 1 по 10 из {{ vm.count }} марок

      .col-md-7.col-sm-12
        .dataTables_paginate.paging_bootstrap_number.pull-right
          ul.pagination
            li.prev.disabled
              a(href='#')
                i.fa.fa-angle-left
            li.active
              a(href='#')
                | 1
            li
              a(href='#')
                | 2
            li.next
              a(href='#')
                i.fa.fa-angle-right
