//- Page title with controls
.portlet-title
  .caption.font-dark
    i.icon-chemistry.font-dark
    span.caption-subject.sbold.uppercase(
      ng-bind='vm.title'
    )

  .actions
    a.btn.btn-circle.green.btn-outline(ng-click='vm.save()')
      i.fa.fa-save
      |  Сохранить

.portlet-body
  .dataTables_wrapper.no-footer
    .row
      .col-xs-12
        form.form-horizontal(
          name='vm.form' novalidate
          ng-submit='vm.submit()'
          form-submit='')
          uib-tabset.tabbable-line
            
            //- 
            //- Common tab
            //- 
            uib-tab(heading='Общее')
              .tab-content
                ng-form.form-body(name='common')
                  .tab-pane

                    //- Name
                    .form-group
                      label.col-md-2.control-label
                        | Название:
                      .col-md-8(
                        ng-class='{"has-error": (vm.form.common.name.$invalid && (vm.form.common.name.$touched || vm.form.$submitted))}')
                        input.form-control(
                          type='text' required ng-model='vm.brand.name' name='name')
                        div(
                          ng-if='vm.form.common.name.$touched || vm.form.$submitted'
                          ng-messages='vm.form.common.name.$error')
                          .help-block.small(ng-message='required')
                            | Введите название торговой марки

                    //- Descriptions
                    .form-group
                      label.col-md-2.control-label
                        | Описание:
                      .col-md-8
                        div(text-angular ta-toolbar="[['bold','italics','ul','ol','insertLink'],['undo','redo'],['html'],['wordcount','charcount']]" ng-model='vm.brand.description' name='description')

                    //- Country
                    .form-group
                      label.col-md-2.control-label
                        | Страна:
                      .col-md-8
                        input.form-control(
                          type='text' ng-model='vm.brand.country' name='country')
                
            //- 
            //- Meta info tab
            //- 
            uib-tab(heading='Meta')
              .tab-content
                ng-form.form-body(name='meta')
                  .tab-pane

                    //- Url
                    .form-group
                      label.col-md-2.control-label
                        | Url:
                      .col-md-8(ng-class='{"has-error": (vm.form.meta.url.$invalid && (vm.form.meta.url.$touched || vm.form.$submitted))}')
                        input.form-control(
                          type='text' required pattern='^[a-z0-9-]{3,}$' ng-model='vm.brand.url'
                          name='url' ng-readonly='!vm.isNew')
                        div(
                          ng-if='vm.form.meta.url.$touched || vm.form.$submitted'
                          ng-messages='vm.form.meta.url.$error')
                          .help-block.small(ng-message='required')
                            | Введите URL
                          .help-block.small(ng-message='pattern')
                            | Введите корректный url

                    //- Title
                    .form-group
                      label.col-md-2.control-label
                        | Title:
                      .col-md-8
                        input.form-control(
                          type='text' ng-model='vm.brand.meta.title' name='title')

                    //- Description
                    .form-group
                      label.col-md-2.control-label
                        | Description:
                      .col-md-8
                        textarea.form-control(
                          type='text'
                          ng-model='vm.brand.meta.description' name='description')

                    //- Keywords
                    .form-group
                      label.col-md-2.control-label
                        | Keywords:
                      .col-md-8
                        textarea.form-control(
                          type='text'
                          ng-model='vm.brand.meta.keywords' name='keywords')

            //- 
            //- Shop info tab
            //- 
            uib-tab(heading='Магазин')
              .tab-content
                ng-form.form-body(name='shop')
                  .tab-pane
  
                    //- SKU
                    .form-group
                      label.col-md-2.control-label
                        | SKU:
                      .col-md-8(ng-class='{"has-error": (vm.form.shop.sku.$invalid && (vm.form.shop.sku.$touched || vm.form.$submitted))}')
                        input.form-control(
                          type='text'
                          required pattern='[a-z]{2,3}'
                          name='sku' ng-model='vm.brand.sku'
                          ng-readonly='!vm.isNew')
                        div(
                          ng-if='vm.form.shop.sku.$touched || vm.form.$submitted'
                          ng-messages='vm.form.shop.sku.$error')
                          .help-block.small(ng-message='required')
                            | Введите sku
                          .help-block.small(ng-message='pattern')
                            | Введите корректный sku
