ul.page-breadcrumb.breadcrumb
  li(
    ng-repeat='step in steps'
    ng-switch='$last || !!step.abstract')
    a(
      ng-switch-when='false'
      ng-bind-html='step.ncyBreadcrumbLabel'
      href='{{ ::step.ncyBreadcrumbLink }}')
    span(
      ng-switch-when='true'
      ng-bind-html='step.ncyBreadcrumbLabel')
    i.fa.fa-circle.breadcrumb__delimiter(
      ng-if='!$last')
