uib-tab(heading='Общее')
  .tab-content
    ng-form.form-body(name='commonForm')
      .tab-pane

        //- ----
        //- Name
        //- ----
        .form-group
          label.col-md-2.control-label
            | Название группы:
          .col-md-8(ng-class='{"has-error": (commonForm.title.$invalid && (commonForm.title.$touched || vm.form.$submitted))}')
            input.form-control(type='text' required ng-model='vm.item.title' name='title')
            div(ng-if='commonForm.title.$touched || vm.form.$submitted' ng-messages='commonForm.title.$error')
              .help-block.small(ng-message='required')
                | Введите название группы


        //- Separator
        .row
          .col-md-8.col-md-offset-2
            hr.hr_margin-top_5

        div(ng-repeat='item in vm.item.items track by $index')
          ng-form(name='filterItemForm')

            //- Name
            .form-group
              label.col-md-2.control-label
                | Название:
              .col-md-8(
                ng-class='{"has-error": (filterItemForm.name.$invalid && (filterItemForm.name.$touched || vm.form.$submitted))}')
                input.form-control(type='text' ng-model='item.name' name='name' required)
                div(
                  ng-if='filterItemForm.name.$touched || vm.form.$submitted'
                  ng-messages='filterItemForm.name.$error')
                  .help-block.small(ng-message='required')
                    | Введите название

              //- Controlls
              .col-md-2(ng-if='item.isNew')
                button.btn.btn-circle.red.btn-outline.btn-sm(
                  ng-click='vm.removeItem(item)'
                  tabindex=-1)
                  i.fa.fa-trash-o
                  |  Удалить

            //- Url
            .form-group
              label.col-md-2.control-label
                | Url:
              .col-md-8(
                ng-class='{"has-error": (filterItemForm.url.$invalid && (filterItemForm.url.$touched || vm.form.$submitted))}')
                input.form-control(
                  type='text'
                  ng-model='item.url'
                  name='url'
                  required
                  ng-readonly='!item.isNew'
                  unique-filter-item='{ validate: item.isNew, filters: vm.filters }')
                div(
                  ng-if='filterItemForm.url.$touched || vm.form.$submitted'
                  ng-messages='filterItemForm.url.$error')
                  .help-block.small(ng-message='required')
                    | Введите url
                  .help-block.small(ng-message='uniqueFilterItem')
                    | URL уже используется

            //- Title
            .form-group
              label.col-md-2.control-label
                | Title:
              .col-md-8(
                ng-class='{"has-error": (filterItemForm.title.$invalid && (filterItemForm.title.$touched || vm.form.$submitted))}')
                input.form-control(
                  type='text'
                  ng-model='item.title'
                  name='title'
                  required)
                div(
                  ng-if='filterItemForm.title.$touched || vm.form.$submitted'
                  ng-messages='filterItemForm.title.$error')
                  .help-block.small(ng-message='required')
                    | Введите title

            //- Separator
            .row
              .col-md-8.col-md-offset-2
                hr.hr_margin-top_5

        //- Add new filter item
        .row
          .col-md-10.col-md-offset-2
            button.btn.btn-circle.green.btn-outline(ng-click='vm.addItem()')
              i.fa.fa-plus
              |  Новый фильтр
